{% load bootstrap4 %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Moringa Tribune - {{title}}</title>
    {% else %}
    <title> Moringa Tribune </title>
    {% endif %}

    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

</head>
<body>
{% include 'navbar.html'%}
{% block content %}
<h1 class="text-center">News for {{date|date:"l d-F Y"}}</h1>
{%endblock%}
</body>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% bootstrap_javascript %}
{% endblock %}
</html>
